@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Contact Details</h2>
<p>Contact Number: <small>+27 76 960 6305</small></p>
<p>E-mail address: <small>clearancemorumudi@outlook.com</small></p>
<address
         >
    Address:
    <small>
        10 Endeman street <br />
        Dawn park <br />
        Boksburg <br />
        1459
    </small>
</address>