@{
    ViewBag.Title = "Home Page";
}

<h1>Clearance Practice mode for MVC</h1>
<h3>More like a min website or if not it is just the taste of mvc playground for now. For mastering mvc</h3>

<div class="cols">
    <div class="col-lg-4">
        <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/Csharp_Programming_for_Beginners.jpg" alt="C3" />
        <p>
            The image above is the image of the programming language called C# and it is one of the best tool ever that one can use and that it is in demand
            in the world. People who are well skilled with this langaage can do a lot of things, eg
            <ol>
                <li>Develop the games</li>
                <li>Do web application</li>
                <li>Do Desktop application</li>
            </ol>
            It is the createst tool to have nor to know it. Is it no replacing the old java or c++, however, it is the friendly language and it is one of the top languages
            that are indeed in demand in the world. Even the IDE for C# is quite portable and user friendly. All we can say is that, congratulations to microsoft for this
            awesome development.
        </p>
    </div>
    <div class="col-lg-4">
        <img src="https://geekboots.sfo2.cdn.digitaloceanspaces.com/post/javascript-1567486564472.jpg" alt="JavaScript" />
        <p>
            Javacript is quite another language that is ranks to be the best latetly. It is an the dope language and it is userfriendly too. Once you get to know it, you 
            will no longer want to leave this language alone. This days JavasScript is going higher than ever and it now can be used to connect to servers. It is used to 
            develop web applications also. JavaScript has some few deveopment and also it has some few framework like:
                <ol>
                    <li>Angular</li>
                    <li>React</li>
                    <li>Express</li>
                    <li>Typescript <small>However, typescript is the superscript of javascript. Its quite a new motion of javascript. Still thanks to microsoft</small></li>
                </ol>
        </p>
    </div>
    <div class="col-lg-4">
        <img src="https://bs-uploads.toptal.io/blackfish-uploads/components/blog_post_page/content/cover_image_file/cover_image/686123/0712-Bad_Practices_in_Database_Design_-_Are_You_Making_These_Mistakes_Dan_Newsletter-f90d29e5d2384eab9f4f76a0a18fa9a8.png" alt="Database" />
        <p>
            Database are on the most powerfull tool that helps our data to be stored successfully and never being contaminated by anything as long as the logic is programmed
            well. With Database, there are lot of things that can help out to store our things in there. For example, everyone this days communicate with the cellphone, 
            they register everywhere and do things online, question is, where is their data saved at? Thats the powerfull of database, with all this data rouming all over
            the world, database is capable of not mixing things that are unmixed. Futher more we have this two types of databases
                <ol>
                    <li>SQL database</li>
                    <li>non-SQL database</li>
                </ol>
        </p>
    </div>
</div>