@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome To Clearance New MVC Application training for PBSA Internship</h1>
<p>The home content will come here</p>

<div class="col-lg-6" style="background-image: url(https://www.simplilearn.com/ice9/free_resources_article_thumb/Csharp_Programming_for_Beginners.jpg)">
    <p> This is the page where we test the bacground image of the application. We wanna see if we do understand the field quite well and that we are willing to take
        everything that we have learned to the cooperate world.
    </p>
</div>
<div class="col-lg-6">
    <img src="https://stackify.com/wp-content/uploads/2020/09/What-is-C-used-for.png" alt="C#"/>
</div>