@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clearance Morumudi</h1>
    <p class="lead">Welcome to VAT. <small><em>Remeber that your username is your user number allocated to you when registering</em></small></p>
</div>

<div class="row">
    <div class="col-md-6">
       <label>User Name</label>
        <input type="text" class="form-control" placeholder="Clearance Morumudi" />
    </div>
    <div class="col-md-6">
        <label>Passworld</label>
        <input type="password" class="form-control" placeholder="************" />
    </div>
    <div class="col-md-4">
        
    </div>
</div>