@{
    ViewBag.Title = "Home Page";
}

<h1>Clearance Morumudi</h1>
<h3>My profile</h3>
<p>Clearance Morumudi is someone who is into technology and who loves challanges. If you  wanna know more about my skills set please
    do click the button bellow</p>
<input type="button" value="My Tech Skills" class="btn btn-block"/>

<div class="col-md-4">
    <h2>About Clearance</h2>
    <p>
        Clearance is the most mortivated peopson, who loves to do his works in peace.
        All the people that knows him, knows that, he loves to be infort of the computer all day long and he doesn't get tired at all
        He is a very dedicated person who is keen to his job.
    </p>
</div>
<div class="col-lg-4">
    <h2>Clearance Services</h2>
    <p>
        Clearance can do a lot of things, From clearance this is what needs to be expected
    </p>
      <p>Clearance is good with web development, desktop application web applications and many more</p>
    
</div>
<div class="col-lg-4">
    <h2>Clearance Contact Details</h2>
    <p>Contact Number : +27 76 960 6305</p>
    <p>E-mail Address: clearancemorumudi@outlook.com</p>
</div>